
<head>
<style>
.center {
width: 300px;
height: 300px;
position: absolute;
left: 50%;
top: 50%;
margin-left: -150px;
margin-top: -150px;
}
</style>
</head>
<body class="text-center">
<div class="center">

        <div class="well">
    
<form id="form1" name="form1" method="get" action="/header"  class="form-signin">





<h1 class="h3 mb-3 font-weight-normal" align="center" >LOGIN FORM</h1>
<hr>
<table width="250" cellpadding="10">
<label for="inputEmail" class="sr-only">Email address</label>
<input type="email" name="name" id="inputEmail" class="form-control"
placeholder="Email address" required autofocus >
<p></p>
<label for="inputPassword" class="sr-only">Password</label>
<input type="password" name="password" id="inputPassword" class="form-control"
placeholder="Password" required>
<br>
<tr>
<div class="checkbox mb-3">
<label>
<input type="checkbox" value="remember-me"> Remember me</label></div></tr>
<tr>
<td> <button class="btn btn-sm btn-primary btn-block" type="submit" value="submit"
>SUBMIT</button></td>



</tr>
<tr>
<td align="center" colspan="2"><a href="SignUp.html">Not Registered?</a></td>
</tr>
</table>
</form>

        </div>
</div>
</body>
